@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

// #root {
// }

.container {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.loading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  font-size: 12px;
  color: var(--color-primary);
  font-weight: bold;
  transition: opacity 0.5s ease;
  &--fade-out {
    opacity: 0;
  }
  &::before {
    position: fixed;
    content: '';
    width: min(260px, 50vw);
    height: min(260px, 50vw);
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-color: #fff;
    animation: spin 1.2s linear infinite;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-image: url('https://picsum.photos/1500/1500.webp');
  background-size: cover;
  background-position: center;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  p {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-primary);
  }
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 320px;
  height: 100%;
  // height: 100vh;
  // height: 100dvh;
  overflow: hidden;
  transition: opacity 0.5s ease; // App.tsxの`500ms`に合わせる
  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
  &--fade-in {
    animation: fadeIn 0.5s ease forwards; // App.tsxの`500ms`に合わせる
  }
}

// 各カラムのスタイル
.column {
  --move-speed: 120s; // アニメーションの速度を変数で定義
  flex: 1;
  padding: 0 2.5px;
  height: auto;
  min-height: 200vh; // 画面の高さの2倍を保証して背景が見えないようにする
  display: flex;
  flex-direction: column;
  will-change: transform; // GPUアクセラレーションを有効化してスムーズなアニメーションを実現
  transform-style: preserve-3d; // 3D変換を保持
  backface-visibility: hidden; // ちらつき防止
  &--up {
    transform: translateY(0); // 初期位置を0にして、画像セット1が最初に表示されるようにする
    animation: moveUp var(--move-speed) linear infinite;
  }
  &--down {
    transform: translateY(-50%); // 初期位置を-50%にして、画像セット2が最初に表示されるようにする
    animation: moveDown var(--move-speed) linear infinite;
  }
}

.image-card {
  position: relative;
  margin-block: 5px 0;
  line-height: 0;
  break-inside: avoid;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    // height: 100vh;
    // height: 100dvh;
    top: 0;
    left: 0;
    background: radial-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  .image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      position: relative;
      z-index: 0;
      transition: filter 0.3s ease;
    }
  }
}
.image-credit {
  position: absolute;
  padding: 0.5em 1em;
  width: fit-content;
  height: fit-content;
  right: 0;
  bottom: 0;
  color: var(--color-primary);
  font-size: 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  z-index: 2;
  a {
    position: relative;
    text-decoration-line: underline;
    z-index: 3;
    &:hover {
      text-decoration: none;
    }
  }
}
@media (hover: hover) {
  .image-card:hover {
    &::before {
      opacity: 0;
    }
    .image-container img {
      filter: brightness(1.3);
    }
  }
}
